{% extends 'aplicacionBlog/base.html' %}
{% load static %}

{% block cabecera %}
    <div class="masthead-heading text-uppercase">Registro</div>
{% endblock cabecera %}

{% block contenido %}
<body>
    <h3 style="font-size: 24px; color: #ff9900; text-transform: uppercase; letter-spacing: 2px;">Iniciar una Nueva Oportunidad</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <button style="padding: 10px 20px; background-color: #ff9900; color: #fff; border: none; border-radius: 5px; font-size: 16px; cursor: pointer;">Crear Usuario</button>

    </form>
</body>
{% endblock contenido %}